@model WebApplication3.Models.UserDebtDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserDebtDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.autopay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.autopay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.autopayDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.autopayDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.debtBad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.debtBad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.debtCompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.debtCompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.debtCompanyStreeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.debtCompanyStreeAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.debtCompanyCtiy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.debtCompanyCtiy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.debtCompanyState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.debtCompanyState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.debtCompanyZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.debtCompanyZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.debtCompanyPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.debtCompanyPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.accountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.accountType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accountType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.accountStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accountStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateOpened)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOpened)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateLastReported)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateLastReported)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creditLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creditLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monthlyPayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monthlyPayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pastDueBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pastDueBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paymentHistory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paymentHistory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reportDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reportDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
